<!DOCTYPE html>
<html ng-app="myntra">

<head>
    <link rel="stylesheet" href="content/css/bootstrap.css">
    <link rel="stylesheet" href="content/css/bootstrap-theme.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
    <script src="vendor/jquery-2.2.0.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
    <script src="vendor/bootstrap.js"></script>
    <script src="vendor/angular.js"></script>
    <script src="vendor/angular-ui-router.js"></script>
</head>

<body>
    <div class="container" ng-controller="mainCtrl">
        <div custom-header></div>
        <!--<div custom-trans>
    <h1>I am good</h1>
</div>-->
        <!--<div custom-details content-to-display="data" label-to-display="{{label}}"></div>
<h1>In the index page</h1>
<input type="text" ng-model="data">
<input type="text" ng-model="label" placeholder="label">{{label}}-->
        <input type="text" ng-model="xxxx">{{brand}}
        <div ui-view></div>
    </div>

    <script src="app/products/products.js"></script>
    <script src="app/products/productsCtrl.js"></script>
    <script src="app/products/cartCtrl.js"></script>
    <script src="app/products/productsSvc.js"></script>
    <script src="app/products/productFact.js"></script>

    <script src="app/register/register.js"></script>
    <script src="app/register/registerCtrl.js"></script>
    <script src="app/register/registerSvc.js"></script>
    <script src="app/components/components.js"></script>
    <script src="app/components/phoneformat.js"></script>
    <script src="app/components/customHeader.js"></script>
    <script src="app/components/alphabetsOnly.js"></script>
    <script src="app/components/brandName.js"></script>
    <script src="app/components/cgiDatePicker.js"></script>
    <script src="app/components/customDetails.js"></script>
    <script src="app/components/customTrans.js"></script>


    <script src="app/main/main.js"></script>
    <script src="app/main/mainCtrl.js"></script>
    <script src="app/app.js"></script>
</body>

</html>
